#rightLeg {
    height: 50px;
    width: 50px;
    background-color: dodgerblue;
    position: absolute;
}

#imageBlock {
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
}

.startLine {
    height: 50px;
    width: 50px;
    border: black solid 1px;
    position: absolute;
    display: block;
}

#finishLine {
    height: 50px;
    width: 50px;
    border: black solid 1px;
    position: absolute;
    left: 100px;
}

#finishedBox {
    height: 50px;
    width: 120px;
    border: black solid 1px;
    position: absolute;
    left: 100px;
    display: none;
    background-color: green;
    color: white;
}