* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    height: 768px;
    width: 1024px;
    border: solid #000000 5px;
    background: url("images_folder/startScreenBackground.png");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.topSection {
    padding: 20px;
}

h2 {
    margin: 0;
    text-align: center;
}

.middleSection {
    height: 575px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

.middleSection h1 {
    border: solid #ffffff 5px;
    position: relative;
    top: 225px;
}

.gameScreen {
    height: 650px;
    background: url("images_folder/gameScreenBackground.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}

.player {
    margin-left: 10px;
    position: absolute;
    top: 535px;
    z-index: 2;
}

.pumpkin {
    position: absolute;
    top: 555px;
    left: 950px;
}

.scoreSection {
    padding: 5px;
}

.instructions {
    width: 65%;
    display: inline-block;
    margin-left: 10px;
    padding: 8px;
    border: solid #ffffff 5px;
    color: #ffffff;
}

.scoreBox {
    height: 80px;
    border: solid #ffffff 5px;
    width: 30%;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    font-weight: bold;
    float: right;
}

.styleBox {
    width: 130px;
    position: absolute;
    top: 510px;
    left: 870px;
    display: none;
    color: #ffffff;
    border: #ffffff solid 2px;
    padding: 3px;
    text-align: center;
}

.startGun {
    margin: 0 auto;
    color: #ffffff;
    position: relative;
    top: 300px;
    width: 200px;
    font-size: 100px;
    z-index: 1;
}