* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 768px;
    width: 1024px;
    border: solid #000000 5px;
    background: url("images_folder/startScreenBackground.png");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.topSection {
    padding: 20px 15px 15px;
}

h2 {
    margin: 0;
    text-align: center;
}

.middleSection {
    height: 575px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

.middleSection h1 {
    border: solid #ffffff 5px;
    position: relative;
    top: 225px;
}

.gameScreen {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 650px;
    background: url("images_folder/gameScreenBackground.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}

.player {
    height: 10%;
    width: 5%;
    background-size: cover;
    background: url("images_folder/characterRight.png");
    margin-left: 10px;
    position: relative;
    top: 535px;
}

.pumpkin {
    float: right;
    height: 6%;
    width: 5%;
    background: url("images_folder/pumpkinHead.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 480px;
}

.scoreSection {
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.instructions {
    height: 80px;
    width: 65%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    border: solid #ffffff 5px;
    color: #ffffff;
}

.scoreBox {
    height: 80px;
    border: solid #ffffff 5px;
    width: 30%;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    font-weight: bold;
    float: right;
}